#logfile: /var/log/fail2drop   

#whitelist:
#- IP1
#- IP2

#sshd-auth:
#  logfile: '/var/log/auth.log'
#  tag: 'sshd'
#  ipregex: 'Connection closed by [1-9][^ ]*'
#  bancount: 5

#sshd-auth1:
#  logfile: '/var/log/auth.log.1'
#  tag: 'sshd'
#  ipregex: 'Connection closed by [1-9][^ ]*'
#  bancount: 5
