[Unit]
Description=Faile2Drop
After=network.target auditd.service sshd.service

[Service]
ExecStart=/xxxxpath/fail2drop
StandardOutput=append:/var/log/fail2drop.log
StandardError=append:/var/log/fail2drop.log
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target