[Unit]
Description=%s v%s
After=network.target sshd.service

[Service]
ExecStart=/usr/local/bin/%s
StandardOutput=append:%s
StandardError=append:%s
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
